
h1 {
    color:#85440a;
    font-family: 'Roboto';
    font-weight:900;
}

body{font-family: 'Roboto';
    font-weight:100;}

.logo {
    z-index:10;
    position:absolute;
    margin-left:-128px;
}

.liste_exemp{display:inline-block;
             position:relative;}

.liste_exemp p{display:inline-block;} 

.liste_exemp span{position:absolute;
                 bottom:0;
                 left:20px;
                 background:#FFF;
                 width:40px;
                 height:40px;
                 border: 1px solid #FFF;
                 border-radius:20px;
                 text-align:center;
                 padding-top:10px;
                 margin:5px; }

.book {
    width:30%;
    min-width:250px;
    height:180px;
    float:left;
    border:2px solid #eee;
    padding:5px;
    margin:5px;
    display:block;
    color:#666;
}

.book img {
    float:left;
}

.book .t {
    font-size:150%;
    font-weight:bold;
    line-height:1.0;
}
