{# Question 3 mise en place de la vue #}
{% set books_active = 1 %}
{% extends 'layout.html.twig' %}


{% block contents %}
{% for b in book %}
<div class="row">
	<div class="col-xs-2">
		{% if b.image %}
		<img src="{{ app.request.basepath }}/uploads/{{ b.image }}_small.jpg" />
		{% endif %}
	</div>
	<div class="col-xs-10">
		<p>{{ b.synopsis }} </p>
		<a class="btn btn-default" href="{{path('books')}}"> Revenir aux livres </a>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		{# Question 8 #} 
		{% if disponible|length == 0 %}
		<h3> Il n'y a aucun exemplaire disponible pour ce livre </h3>
		{% else %}
		<h3> Il reste {{disponible|length}} exemplaire(s) pour ce livre </h3>
		{% endif %}
		{% for indisp in indisponible %}
		{% if indisp.fini == 0 %}
		<div class="col-xs-3">
			<ol class="liste_exemp indisp"><img src="{{ app.request.basepath }}/uploads/{{ indisp.image }}_small.jpg"><span>{{indisp.id_exemp}}</span></ol>
			<em>Indisponible</em>
			<p>Emprunté jusqu'au {{indisp.fin|date("d/m/Y")}}</p>
			{% if app.session.get("admin") is defined %}
			{% if app.session.get("admin") == true %}
			{# Question 9 #} 
			<form method="post">
				<input type="hidden" value="{{indisp.id_exemp}}" name="id_exemplaire"/>
				<input class="btn btn-default" type="submit" value="Retour" />
			</form>
			{#  #}
			{% endif %}
			{% endif %}
		</div>
		{% endif %}

		{% endfor %}
		{# Question 6 #}
		{% for disp in disponible %}
		<div class="col-xs-3">
			<ol class="liste_exemp"><img src="{{ app.request.basepath }}/uploads/{{ disp.image }}_small.jpg"><span>{{disp.id}}</span>
				{% if app.session.get("admin") is defined %}
				{% if app.session.get("admin") == true %}
				<a class="btn btn-default" href="{{ path('emprunt', {id: disp.id}) }}">Emprunt</a></ol>
				{% endif %}
				{% endif %}
			</div>

			{% endfor %}
		</div>
	</div>
	{% endfor %}
	{% endblock %}