{# Question 7 #}
{% set add_book_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
<form method="post">
<strong>Prénom NOM</strong><br/>
<input class="form-control" type="text" name="name" required />
<strong>Date fin</strong><br/>
<input class="form-control" type="date" name="date_fin" />
<input type="hidden" name="exemplaire" value="{{idexemp}}" />
<br>
<input class="btn btn-success" type="submit" value="Enregistrer" />
</form>
{% endblock %}