<!DOCTYPE html>
<html>
    <head>
        <title>Bibliothèque</title>
        <link rel="stylesheet" href="{{ app.request.basepath }}/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,700' rel='stylesheet' type='text/css'>
        <link rel="icon" href="{{ app.request.basepath }}/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div class="container">
            <div class="pull-right">
                <img class="logo" src="{{ app.request.basepath }}/css/books.png" />
            </div>

            <h1>Bibliothèque</h1>

            <nav class="navbar navbar-default">
               <ul class="nav navbar-nav">
                    <li class="{% if home_active is defined %}active{% endif%}">
                        <a href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="{% if books_active is defined %}active{% endif%}">
                        <a href="{{ path('books') }}">Les livres</a>
                    </li>
                <!-- Question 1 -->    
                 {% if app.session.get("admin") is defined %}
                    {% if app.session.get("admin") == false %}
                        <li class="{% if admin_active is defined %}active{% endif%}">
                            <a href="{{ path('admin') }}">Administration</a>
                        </li>
                {% endif %}
                {% endif %}
                {% if app.session.get("admin") is defined %}
                    {% if app.session.get("admin") == true %}
                        <li class="{% if add_book_active is defined %}active{% endif%}">
                        <a href="{{ path('addBook') }}">Ajouter un livre</a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}">Déconnexion</a>
                    </li>
                {% endif %}
                {% endif %}
                <!-- Fin Question 1 -->
               </ul>
            </nav>

            {% block contents %}{% endblock %}
        </div>
    </body>
</html>
